body{
    font-family:sans-serif, Arial;
    background-color: #b2aeae;
    
}

.blogIMG{
    height: 320px;
    width: 260px;
}

.flex-container{
    display: flex;
}
h1 {
    padding: 20px;
    text-align: center;
    background: #0a0909;
    color: whitesmoke;
}

footer{
    padding: 20px;
    text-align: center;
    background: #0a0909;
    color: whitesmoke;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
