@model IEnumerable<MasteryBlog2.Model.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <section>
        @foreach (var category in Model)
        {

            <article>
                <p><a href="/Blog/Details">@category.Genre</a></p>
            </article>
        }
    </section>

    <nav>
        <a href="/Blog/Index">HomePage</a>
        <a href="/Category/index">Category</a>
        <a href="/Tag/Index">Tags</a>
        <a href="/Blog/Create">Create a BLOG!!!</a>
        <a href="/Blog/edit">Edit/Delete</a>
    </nav>

    <footer>
        &copy; 2019 JUSTREV
    </footer>

</body>
</html>
